@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 5px;
  margin-bottom: 20px;
  align-items: center;
}

.action-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h3 {
  color: white;
}

h1 {
  font-size: 175px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 35px;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
  font-size: large;
  color: black;
}

label {
  font-size: large;
}

.buttons, .action-head {
  margin: 7px;
  margin-top: 10px;
}